@{
    ViewData["Title"] = "Delete Movie";
}
@model ApplicationResponse

<h2>Confirm the Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Title?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="ApplicationId"/>
</form>
