@{
    ViewData["Title"] = "Add a Movie";
}

@model Mission06_bshorne.Models.ApplicationResponse
<h1>Fill Out Movie Application</h1>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="CategoryID">Category: </label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br />
        

        <label asp-for="Title">Title: </label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year: </label>
        <input asp-for="Year" /><br />

        <label asp-for="Director">Director: </label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br />

        <label asp-for="Edited">Is the movie edited: </label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="Lent">Lent to: </label>
        <input asp-for="Lent" /><br />

        <label asp-for="Notes">Notes: </label>
        <input asp-for="Notes" /><br />
        
        
        <button type="submit">Submit</button>
    </form>
</div>